html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  margin: 0rem 0rem;
}
.intro {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  height: 31rem;
  margin-top: -1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 60%;
  margin: 0% 20%;
}

.shop {
  justify-content: flex-start;
  align-items: center;
}

.shop img {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.nav {
  margin-right: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.nav span {
  margin: 1rem 1rem;
}

header {
  margin-top: 1rem;
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

.banner {
  background-color: white;
  margin-top: 10rem;
}

.banner h2 {
  padding: 1.5rem 5rem 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}
